* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Josefin Sans",sans-serif;
    text-transform: capitalize;
  }
  .header {
    display: flex;
    height: 107px;
    z-index: 3;
    align-items: center;
    padding: 0px 8px;
  }
  .logo {
    width: 132px;
    height: 24px;
    cursor: pointer;
  }
  .nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  .nav .nav-item{
    padding: 16px;
    position: relative;
    font-weight: 800;
  }
  .nav-item:hover{
    color: #E48586;
    cursor: pointer;
  }
   .nav-item .nav-dropdown{
    display: none;
    color: #000;
  }
  .nav-dropdown-item:hover{
    color: #E48586;
  }
  .nav-item:hover .nav-dropdown{
    display: block;
  }
  .nav-dropdown {
    position: absolute;
    top: 100%;
    width: 150px;
    background-color: white;
    border-top: 3px solid #FDE5EC;
    border-radius: 8px;
    z-index: 2;
  }
  .nav-dropdown-item{
    padding: 8px;
  }
  .header-right img{
    padding: 8px;
  }
  /* banner */
  .banner{
    background-color: #FDE5EC;
    height: 300px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .banner h1{
    color: #E48586;
    font-weight: 800;
    font-size: 60px;
  }
